div{
    background-color: blueviolet;
    width: 50%;
    height: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: solid red 2px;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
   
}