#para{
    color: white;
    font-family:'Roboto';
    font-size: medium;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2.4cm;
    text-align: center;
    text-shadow: 2px 1px 2px red,2px 1px 4px yellow;
    text-transform: capitalize;
}
table{
    border: "1";
    padding: auto;
    color: white;
    background-color: blueviolet;
    border-collapse: collapse;
    text-align: center;
}
body
{
    background-color: black;
}