#iam{
    background-color: blueviolet;
    width: 20%;
    height: 20%;
    text-align: center;
    position: absolute;
    transform: translate(-50%);
    top: 0%;
    left: 50%;
    border: 20px;
    border-color:burlywood;
    border-style:solid;
    border-image: url(/images/space1.png) 25 stretch;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin: 10px;
    padding: auto;

   
}

#yoo{
    width: 20%;
    height: 20%;
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 40%;
    left: 51%;
    transform: translate(-50%,-50%);
    outline: 2px;
    outline-color: red;
    outline-width: 7px;
    outline-style: solid;
    border: 4px solid black;
}