body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin: 0;
}

.color-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.red {
  background-color: rgb(255, 0, 0);
  top: 0;
  left: 50px;
  /* Set opacity to 0.5 */
  opacity: 0.5;
}

.green {
  background-color: rgb(0, 255, 0);
  top: 80px;
  left: 0;
  /* Set opacity to 0.4 */
  opacity: 0.4;
}

.blue {
  background-color: rgb(0, 0, 255);
  top: 80px;
  left: 100px;
  /* Set opacity to 0.2 */
  opacity: 0.2;
}
